html{
  font-family: lato;
  margin: 0;
  padding: 0;
  background-attachment: scroll;
}

body{
  background-color: #69c7c7;
}

.a_filtre {
  background-color:rgb(250, 250, 250);
  color:rgba(112, 111, 111, 0.966);
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

p{
  color: azure;
}

.navigation {
  border-radius: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: left;
  list-style: none;
  margin: 2%; 
  background: #4CAF50;
  font-size: large;
  font-weight: 400;
}


.buttonPatho {
  background-color: whitesmoke; 
  border: 2px solid #961a1a;
  color: #bb3535;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.buttonPatho:hover {
  background-color: #4CAF50;
  color: white;
}

.navigation a:hover {
  background: #b37a11;
}

.spane{
  display: none;
}

.modal {
  color: white;
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: scrolls; 
  background-color: rgba(0, 0, 0, 0.9); 
  padding-top: 0%;
}

.modal-content {
  font-family: lato;
  font-weight: 400;
  background-color:#4CAF50;
  text-align: center;
  margin: 15% auto; 
  border: 50% solid #8a2e73;
  width: 35%; 
  border-radius: 5%;
  padding-bottom: 2%;
}

.container1{
  font-size: 100%;
  padding: 5%;
  text-align: center;
  font-weight: 500;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.container2{
  text-align: center;
}

.container2 a{ 
  color:  #130e3b;
}
.container2 a:hover{ 
  color: white;
}

.bonjour{
  color: white;
  width: 35%;
}


#phrase{ 
  font-weight: 400;
  background:#bebebe;
  text-align: center;
  color: rgb(0, 230, 69);
  border-style: solid;
  border-width: 1px;
  margin-top: 110px;
  padding: 30px 30px 30px;
}

h2{ 
  font-weight: bold;
  font-size: medium;
  background:#010232;
  text-align: center;
  color: rgb(235, 214, 214);
  border-style: solid;
  border-width: 1px;
  border-color:   #328d35;
  border-radius: 10%;
  margin: 0% 35%;
  padding: 20px 50px 20px ;
}

.filterDiv {  
  display: none;
}
    
.show {
  display: block;
}

span.titres{
  font-weight: 475;
  font-size: 250%;
  background-color:#4CAF50;
  border-radius: 15%;
  padding: 1% 10% 1% 10%;
  margin: 5% 25%;
  color: white;
  text-align: center;
  text-shadow: rgb(250, 250, 250) 1px 0 10px;
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 50px;
  height: 50px;
}


footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin-left: 40%;
  margin-right: 40% ; 
  padding: 1% 5%;
  background:#4CAF50;
  text-align: center;
  border-radius: 5%;
}